{% extends 'body.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ title }}
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              {% csrf_token %}
              {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="email">{{ field.label }}:</label>
                        {{ field }}
                    </div>
              {% endfor %}


          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat">
                <i class="fa-solid fa-save"></i> Guardar Registro
            </button>
          </div>

        </div>
        <!-- /.card -->
    </form>

{% endblock %}